    <table class="table table-hover">
        <tbody id="tasks_list">
            <% tasks.each do |task| %>
              <%# Check if task is header task then mark it specially  %>
              <%= render partial: 'tasks/task_item', locals: {task:task} %>
            <% end %>
        </tbody>
    </table>
<!-- /.box-body -->
