<div class="col-sm-10 offset-sm-1" style="height:95%;top:2.5%">
    <div class="card sameheight-item items col-sm-12" style="height: 100%;">
            <%= form_for [@project,@task] do |f| %>
        <div class="card-block">
                <%= render 'task',task: @task %>
                <%= f.submit %>
            <% end %>
        </div>
    </div>
</div>
