// Import Montserrat font
@import "dashboards.scss";
@import "bootstrap";
@import "font-awesome";
@import "toastr";
@import "tasks";

@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body{
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
}
body {
  background: url("http://hunterxx.com/resources/images/btv0k50c_4m-siamak-djamei.jpg") no-repeat;
  background-size: cover;
  font-family: 'Open Sans';
  font-size: 14px;
}

#main {
  height: 100%;
  width: 100%;

}

// Editing bootstrap content
  .table th, .table td {
    padding: 0.5em;
  }
// Navbar

.right-navbar-menu {
  position: absolute;
  right: 5px;
  z-index: 99;
}
// Avatar

.round-image {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
}

.round-image-16 {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 32px;
  width: 32px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
}

.round-image-40 {
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  height: 40px;
  width: 40px;
}
// End Avatar

// Twitter typeahead

.typeahead,
.tt-query,
.tt-hint {
  width: auto;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: auto;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
// End Twitter typeahead
